
.icon-mail:before { content: '\e800'; } /* '' */
.icon-emo-coffee:before { content: '\e808'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-linux:before { content: '\f17c'; } /* '' */
.icon-git:before { content: '\f1d3'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */